.deleteGroupModal {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0px 6px 6px;
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.red {
    background-color: red;
    border-color: black;
    color: white;

    margin: 2px;
    width: 100%;
}

.darkGrey {
    background-color: darkgrey;
    border-color: black;
    color: white;

    margin: 2px;
    width: 100%;
}