.JoinGroupButton {
    background-color: red;
    color: white;
    border-color: red;
}

.groupDetailsBtns {
    background-color: darkgrey;
}

.GroupDetailsSection {
    margin-left: 100px;
}

.GroupUpperSection {
    display: flex;
    flex-direction: row;
    div img {
        margin-right: 25px;
    }
}

.GroupLowerSection {
    display: flex;
    flex-direction: column;
}

.eventCard {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.eventImageCaption {
    display: flex;
    flex-direction: row;
    align-items: center;
}