.hidden {
    display: none;
}

#NavSection {
    display: flex;
    justify-content: space-between;
    border-bottom: solid;
}
#HomeNav {
    img {
        height: 48px;
        width: 48px;
    }
}