.profile-section {
    display: flex;
    flex-direction: column;

    .profile-nav-btn {
        display: flex;
        justify-content: flex-end;

        button {
            display: flex;
            flex-direction: row;
            margin-left: 20px;
        }
    }
}

.hidden {
    display: none;
}

.navNormal {
    text-decoration: none;
}