.profile-section {
    display: flex;
    flex-direction: column;

    .profile-nav-btn {
        display: flex;
        justify-content: flex-end;

        button {
            display: flex;
            flex-direction: row;
            margin-left: 20px;
        }
    }
}

.profile-dropdown {
    position: absolute;
    top: 35px; right: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-style: solid;
    border-color: lightgrey;
    background-color: white;
}

.hidden {
    display: none;
}

.navNormal {
    text-decoration: none;
}