.eventListPage {
    display: flex;
    flex-direction: column;
    padding-left: 29dvw;
    padding-right: 29dvw;
}

.eventItem {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    border-top: solid black;
    padding-top: 16px;

    .eventImgDetails {
        display: flex;
        flex-direction: row;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        img {
            height: 200px;
            width: 250px;
            margin-right: 10px;
        }
    }
}