.eventItem {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;

    .ImgDetails {
        display: flex;
        flex-direction: row;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}